<div>
    <h3>{{title}}</h3>
    <ul>
        <li *ngFor="let item of items">
                <span *ngIf="item !== 5">{{ item }}</span>
                <b *ngIf="item === 5">{{ item }}</b>
        </li>    
    </ul>
    <b>Task: <input [(ngModel)] = "title"/></b>
    <button (click)="countNumber()">Add</button>
    <h4>{{count}}</h4>
    
    
    
</div>

<!--<div *ngFor="let x of items; let index = index;" 
            class="ngfor-css" 
            style="height:100px;">
    
        <input (click)="deleteTask(index)" 
                type="button" 
                value="Delete" 
                class="delete-css">
</div> -->